<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>日志文件</title>
    <!-- SVG favicon（现代浏览器） -->
    <link rel="icon" href="favicon.svg" type="image/svg+xml" />
    <!-- https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <style></style>
  </head>
  <body>
    <div class="container py-3">
      <%- include('partials/_navbar') %>
      <h1>日志文件列表</h1>

      <div class="row">
        <!-- 左侧菜单 -->
        <div class="col-md-3 mb-4">
          <div class="list-group">
            <% logFiles.forEach(file => { %>
            <a
              href="/logs?file=<%= file %>"
              class="list-group-item list-group-item-action <%= selectedFileName === file ? 'active' : '' %>"
            >
              <%= file %>
            </a>
            <% }) %>
          </div>
        </div>

        <!-- 右侧内容 -->
        <div class="col-md-9">
          <% if (selectedFileName) { %>
          <div class="row mb-2">
            <h2 class="col-md-6">文件名: <%= selectedFileName %></h2>
            <div class="col-md-6">
              <a
                class="btn btn-danger float-end"
                href="/logs/delete?file=<%= selectedFileName %>"
                onclick="return confirm('确定要删除此文件吗？')"
                >删除</a
              >
            </div>
          </div>
          <div
            class="overflow-auto border rounded bg-light"
            style="max-height: 500px"
          >
            <pre class="p-3"><%= selectedFileContent %></pre>
          </div>
          <% } else { %>
          <p class="text-muted">请从左侧选择一个日志文件以查看其内容。</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
